.app-container {
    margin: 0; 
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: cornsilk;
}

 .header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 10px;
    border: 1px solid black;
}

 .header img {
    height: 60px;
    width: 60px;
    border-radius: 10%;
}

.header .brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .brand .brand-text {
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header .navItems ul{
   margin-right: 20px;
   display: flex;
   list-style-type: none;
}


.header .navItems ul li{
    padding: 10px;
    font-size: 20px;

 }

   .header .navItems ul li .loginButton {
      padding: 20px;
      background-color: #f0f0f0;
      cursor: pointer;
   }

 .appBody {
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

 }

 .appBody .res-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
 }

 .appBody .search {
      display: flex;
      margin: 10px;
 }

 .appBody .search-bar {
   margin: 10px;
 }

 .appBody .search-btn {
   margin-left: 5px ;
 }

 .resCard {
   cursor: pointer;
    margin: 5px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: none;
    background-color: #f0f0f0;
    font-size: 20px;
    max-width: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .resCard:hover {
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }

 .resCard span {
   overflow-wrap: break-word;
   padding: 5px;
   width: 200px;
 }

 .filter-btn {
   margin: 10px;
 }

 .shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .shimmer-container .shimmer-card {
   height: 400px;
   width: 180px;
   margin: 20px;
   background-color: #f0f0f0;
 }